.Kanraku {
  width: 100vw;
  height: auto;
}
.container {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 80%;
  margin: 0 auto;
}
.top_container {
  display: flex;
}
.rightbox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 100px;
}
.imagebox1 {
  margin: 0!important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(70% - 50px);
  height: auto;
}
.text {
  width: 100%;
}
.imagebox1 > img {
  width: 100%;
  object-fit: cover;
}
.textIntro {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: unset!important;
  padding: unset!important;
}
.titleTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: 0;
}
.text p, .boxText p {
  line-height: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}
.date {
  font-family: "myfont-light" !important;
  font-size: 13px!important;
  font-weight: 800;
  margin-bottom: 0;
}
.sns {
  display: flex;
  font-size: 1.5rem;
  gap: 10px;
}
.sns svg {
  color: #c4010a;
}
.sns svg:hover {
  color: gray;
}
.subtitle {
  font-family: "myfont-medium";
  font-size: 1rem;
}
.textEnglish {
  color: rgb(148, 148, 148);
  margin: unset!important;
}
.bottom_container {
  display: flex;
  gap: 50px
}
.serviceBox {
  display: flex;
  flex-direction: column;
  width: calc(40% - 50px);
}
.boxText {
  width: 100%;
  margin-top: 30px;
}
.imagebox2, .imagebox3, .imagebox4 {
  width: 100%;
  height: auto;
}
.imagebox2 img, .imagebox3 img, .imagebox4 img {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .top_container {
    flex-direction: column;
    gap: 0px;
  }
 .imagebox1 {
    width: 100%;
    padding-bottom: 30px;
  }
  .text {
    width: 100%;
  }
  .titleTop {
    margin-bottom: 0px;
  }
  .rightbox {
    flex-direction: column;
  }
  .textIntro {
    width: 100%;
  }
  .bottom_container {
   flex-wrap: wrap;
  }
  .serviceBox {
    width: calc(50% - 50px);
  }
}
@media screen and (max-width: 510px) {
  .bottom_container {
    flex-direction: column;
  }
  .serviceBox {
    width: 100%;
  }
}