.About {
  width: 100%;
  padding-top: 100px;
}
.layer {
  width: 93%;
  padding-top: 50px;
  text-align: left;
  margin: 0 auto;
  border-top: 1px solid black;
}
.title h3 {
  font-size: var(--headline-font-size-medium);
  margin-bottom: 32px;
}
.aboutImage img {
  width: 300px;
  height: 300px;
}
.layerText {
  display: flex;
  gap: 5em;
}
.introText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description {
  width: 100%;
}
.description p {
  position: relative;
  margin-bottom: 0;
}
.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.fadeIn.visible {
  opacity: 1;
  transform: translateY(0);
}
/* @keyframes catch_anime {
  0% {
    transform: translateY(20px);
  }
   100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* ------------------------------------ Responsive ------------------------------------ */
@media screen and (max-width: 992px) {
  .About {
    width: 100%;
    padding-top: 100px;
  }
  .layer {
    border-top: unset;
  }
  .title h3 {
    margin-bottom: unset;
  }
  .aboutImage img {
    width: 100%;
    height: 100%;
  }
  .layerText {
    flex-direction: column;
  }
  .introText {
    width: 100%;
    padding: unset;
  }
  .description {
    width: 100%;
  }
  .description p {
    width: 100% !important;
    padding: 36px 0 0 0;
    padding-top: 36px !important;
  }
}
@media screen and (max-width: 510px) {
  .About {
    padding-top: unset;
    padding-bottom: unset;
  }
  .Introduction > .layer {
    width: 90%;
  }
  .title h2 {
    display: none;
  }
  .title_mobile {
    display: inline;
  }
  .title_mobile h2 {
    padding: 36px 0 ;
  }
  .introText {
    display: flex;
    flex-direction: column;
    gap: unset;
  }
  .aboutImage img {
    width: 100%;
    height: 350px;
  }
  .description {
    width: 90%;
    margin: 0 auto;
    padding: unset;
  }
  .description p {
    position: relative;
    margin-bottom: unset;
    padding: 24px 0 36px 0;
  }
  .link_cv {
    display: none;
  }
}