.Contact {
  width: 100%;
}
.Contact .layer {
  width: 93%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.contact_container {
  display: flex;
  gap: 5rem;
}
.contact_image img{
  width: 300px;
  height: 300px;
}
.title h3{
  font-size: var(--headline-font-size-medium) !important;
  margin-bottom: 32px;
}
.merci {
  display: flex;
  justify-content: space-between;
}
.link_cv {
  border: 1px solid #333333;
  text-decoration: none;
  padding: 8px 20px;
  color: #333333;
  font-size: 15px;
  font-weight: 500;
}
.link a:hover {
  background-color: black;
  color: white;
}
.wrap {
  display:flex;
  flex-flow: column;
  height: calc(300px - 74px);
}
.between {
  justify-content:space-between;
}
.description {
  width: 100%;
}
.description > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.contactme {
  width: 100%;
}
.link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle_icons {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all  0.3s ease;
}
.circle_icons:hover {
  transform: scale(1.1);
  color: palevioletred;
  border-color: palevioletred;
}
.icons_container {
  display: flex;
  align-items: baseline;
  gap: 1em;
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 960px) {
  .contact_container {
    display: flex;
    gap: 0rem;
  }
  .contact_image img{
    width: 300px;
    height: 300px;
  }
  .title h3{
    font-size: var(--headline-font-size-medium) !important;
    margin-bottom: 32px;
  }
  .merci {
    display: flex;
    justify-content: space-between;
  }
  .link_cv {
    border: 1px solid #333333;
    text-decoration: none;
    padding: 8px 20px;
    color: #333333;
    font-size: 15px;
    font-weight: 500;
  }
  .link a:hover {
    background-color: black;
    color: white;
  }
  .wrap {
    display:flex;
    flex-flow: column;
    height: calc(300px - 74px);
  }
  .between {
    justify-content:space-between;
  }
  .description {
    width: 100%;
  }
  .description > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .contactme {
    width: 100%;
  }
  .link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle_icons {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all  0.3s ease;
  }
  .circle_icons:hover {
    transform: scale(1.1);
    color: palevioletred;
    border-color: palevioletred;
  }
  .icons_container {
    display: flex;
    align-items: baseline;
    gap: 1em;
    text-decoration: none;
    color: inherit;
  }
}
@media (max-width: 720px) {}
@media screen and (max-width: 510px) {
  .Contact .layer {
    width: 90%;
    margin: 0 auto;
  }
  .contact_container {
    display: flex;
    justify-content: center;
  }
  .contact_image img {
    display: none;
  }
  .link_cv {
    padding: 8px 10px;
  }
  .contactItem {
    width: 100%;
    margin: 0 auto;
    height: 300px;
  }
}
