.Works {
  width: 100%;
  height: auto;
  border-top: 1px solid  black;
}
.Works > .layer {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  /* padding-bottom: 100px; */
}
.worksbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
.worksbox::before {
  width: 23%;
  display: block;
  content:"";
  order: 1;
}
.worksbox::after {
  width: 23%;
  display: block;
  content:"";
}

.work_container {
  width:33.33%;
  height: 350px;
  border: 1px solid black;
  background: black !important;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
.work_container_color {
  width:33.33%;
  border: 1px solid black;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: .3s;
  padding-top: 60px;
}
.work_container_color2 {
  width:33.33%;
  border: 1px solid black;
  background: #ff4e02;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: .3s;
  padding-top: 60px;
}

.work_container::before, .work_container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.work_container::before {
  background: #fff;
  z-index: -1;
  transition: transform ease 2s, opacity 2s;
}
.work_container::after {
  border: 1px solid black;
  box-sizing: border-box;
}
.work_container:hover::before {
  transform: scale(0);
  opacity: 0;
}
.work_container:hover .mask {
  opacity: 1;
}
.work_image {
  margin: 0 auto;
  width: 70%; 
	overflow: hidden;
  cursor: pointer;
	position:	relative;
}
.work_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 20px 10px;
}
.caption {
  width: 100%;
  height: 225px;
	font-size: .9rem;
	text-align: left;
	padding: 50px;
	color: white;
  /* font-family: "myfont-light"; */
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.8);	
}
.mask {
	width: 100%;
	position:	absolute;
	top: 20px;
	left:	10px;
	opacity: 0;	
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}



@media screen and (max-width: 992px) {
  .caption {
    height: 200px;
    font-size: .9rem;
    padding: 10px;
    line-height: 20px;
  }
}
@media (max-width: 720px) {
  
}
@media screen and (max-width: 510px) {
  .worksbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: unset;
  }
  .work_container {
    width:100%;
    height: 350px;
  }
  .work_container_color {
    width:100%;
    margin: 0 auto;
    padding-top: 0;
  }
  .work_container_color h2 {
    padding: 0;
    margin: 0;
  }
  .work_container_color2 {
    display: none;
  }
}