@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
/* ultraLight HelveticaNeue */
@font-face {
  font-family: "myfont-ultraLight";
  src: url("../public/fonts/HelveticaNeueUltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Light HelveticaNeue*/
@font-face {
  font-family: "myfont-light";
  src: url("../public/fonts/HelveticaNeue-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Medium HelveticaNeue*/
@font-face {
  font-family: "myfont-medium";
  src: url("../public/fonts/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Heavy HelveticaNeue*/
@font-face {
  font-family: "myfont-heavy";
  src: url("../public/fonts/HelveticaNeue-Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myfont-helvetica-bold";
  src: url("../public/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myfont-helvetica-normal";
  src: url("../public/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myfont-helvetica-light";
  src: url("../public/fonts/helvetica-light-587ebe5a59211.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "myfont-helvetica-normal", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0;
  -webkit-text-size-adjust: 100%;
  --headline-font-size-large: 4.0625rem;
  --headline-font-size-medium: 2.1875rem;
  --color-primary: #000000;
  --color-primary-light: #808080;
  --color-primary-dark: #585858;
  --body-bg-color: #FFFFFF;
  --body-txt-color: #000000;
  --body-txt-color-light: #777777;
  --color-orange:rgb(237, 75, 11);
  --color-red:#c0392b;
  --color-pink:#FF6666;
  --color-blue:#002247;
  --color-line-box:#DDDDDD;
  --color-link-red:#BD100E;
  --color-link-red-hover: #5E0807;
  --color-link-orange: #FF6666;
  --color-link-orange-hover: #DD6666;
}
.App {
  width: 100%;
  margin:0;
  padding: 0;
}
html, body {
  margin:0;
  padding: 0;
  background-color: transparent;
  z-index: 1;
  box-sizing: border-box;
}
button {
  display: flex;
  flex-direction: column !important;
  border: unset !important;
  background-color: unset !important;
  padding: 0 !important;
  margin: 0;
  box-sizing: border-box;
}
.modalClosebutton {
  font-size: 32px;
  color: #AAAAAA;
}
.wrapper {
  background-color: transparent;
  width: 100%;
}
/* ------------------------------------ common ------------------------------------ */
h2 {
  font-family: "myfont-helvetica-bold", Arial, Helvetica, sans-serif;
  font-size: 45px !important;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: -.1rem;
  padding-bottom: 80px;
  color: black;
}
h3 {
  font-family: "myfont-helvetica-bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  line-height: 1.4rem;
  letter-spacing: 0px;
  font-size: var(--headline-font-size-medium);
}
ul {
  list-style: none;
}
a, Link {
  text-decoration: none !important;
  cursor: pointer;
  color: black !important;
}

/* ------------------------------------ header ------------------------------------ */
header {
  width: 100%;
  z-index: 4;
  position: fixed;
  transition: transform 2s ease-in-out;
}
.header_container {
  width: 100%;
  position: sticky;
}
.header_ul {
  list-style: none;
  margin: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: opacity 2s ease-in-out; 
  opacity: 1; 
}
.header_ul li {
  margin: 0 10px;
}
.header_ul a {
  font-family: "myfont-helvetica-bold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 90px;
  font-size: 60px;
  color: black;
  transition: 1s;
  text-shadow: 3px 3px 3px gray;
}
.header_ul a:hover {
  color: #333333;
}
.header_ul a:last-child {
  font-size: 16px !important;
  line-height: 16px;
}
.header_ul p {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.header_ul.is-animation a, .header_ul.is-animation button, .header_ul.is-animation p {
  transform: translateY(-100%);
  opacity: 0;
	font-size: 40px;
  line-height: 50px;
}

/* toggle Language */
.toggle {
  position: relative;
  width: 38px;
  height: 18px;
  margin: 0px 0px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle input[type=checkbox] {
  display: none;
}
.toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50px;
  background: #e9e9eb;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle.checked:before {
  background: #e91e63;
}
.toggle.checked:after {
  left: 22px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}
/* ------------------------------------ HOME ------------------------------------ */
.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------ TOP ------------------------------------ */
.top {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 90px;
  padding-bottom: 100px;
  position: relative;
}
/* Top ---swiper */
.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  animation: fade-in-image 2s ease-in-out;
}
.current-image {
  opacity: 1;
}
.next-image {
  animation-delay: 5.5s; 
}
@keyframes fade-in-image {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* image */
.image-container {
  position: relative;
  width: 84%;
  overflow: hidden;
  margin: 0 auto;
}
.image-container::before {
  display: block;
  padding-top: 50%;
  content: '';
}
.image-container img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(5px);
  filter: brightness(1) contrast(80%) opacity(0.8);
}
/* text-on-image */
.text-on-image {
  max-width: 30%;
  position: absolute;
  bottom: 0%;
  left: 5%;
  color: black;
  line-height: 1.2rem;
  z-index: 1;
}
.text-on-image img {
  width: 400px;
}
/* banner */
.banner {
  position: absolute;
  bottom: 40px;
  left: 500px;
  text-align: left;
}
.banner_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-top: 15px;
}
.banner_container p {
  letter-spacing: 0px;
  text-align: left;
}
p.slide-in.current-text {
  animation: slideIn-01 3s 1;
}
p.slide-in.next-text {
  animation: slideIn-02 3s infinite;
}

@keyframes slideIn-01 {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideIn-02 {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* ----------------------------- LinkedIn & GitHub ------------------------------- */
.icons_conatiner {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-top: 30px;
}
.linkedin_icons {
  font-size: 24px;
  color: black;
}
.github_icons {
  font-size: 24px;
  color:black;
}
.linkedin_icons:hover, .github_icons:hover {
  transform: scale(1.1);
  color: #e91e63;
  border-color: #e91e63;
}

/* ------------------------------------ footer ------------------------------------ */
footer {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  color: #333333;
  letter-spacing: 0px;
  font-weight: 400;
}
.footer_container {
  width: 93%;
  border-top: #333333 solid 1px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  color: var(--body-txt-color-light);
}

/* ------------------------------------ Modal ------------------------------------ */
#overlay {
  z-index: 5;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal_container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}
#modal_content {
  z-index: 3;
  position: relative; 
  width:98%;
  height: 95%;
  padding: 3rem 10rem;
  background:#f9f9f9;
  border-radius: 3px;
  overflow: scroll;
  text-align: left;
}
.modal_right, .modal_left {
  width: 50%;
}
.modal_text {
  padding: 40px;
}
.modal_fade {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.icons_github {
  color: #ff4e02;
  font-size: 26px;
}
.modal_link {
  display: flex;
  gap: 10px;
}
.fadeIn1500ms {
  animation-name: fadeIn1500ms;
  animation-delay: 500ms;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeIn1500ms {
  0% {
  }
  100% {
      opacity: 1;
  }
}
.modal_text h3 {
  margin-bottom: 1rem;
}
.modal_text h3 > span {
  font-size: small;
  line-height: 1.2rem;
}
.modal_text p {
  letter-spacing: 0px;
}
.modal_text p > span {
  font-weight: 800;
  color: #AAAAAA;
}
.modal_closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
  color: #AAAAAA;
  border: 1px solid #AAAAAA;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.modal_imagebox {
  width: 100%;
  height: auto;
  border: 1px solid #AAAAAA;
  margin-bottom: 2rem;
}
.modal_imagebox img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.modal_imagebox:hover {
  opacity: unset;
  transition: unset;
}

.scrollTop {
  z-index: 3;
  position: fixed;
  bottom: 20;
  right: 15;
}

/* ------------------------------------ Responsive ------------------------------------ */
/*******************タブレット******************/
@media screen and (max-width: 1024px) {
/*  header  */
.header_ul {
  display: none;
}
.top {
  width: 100%;
  height: 100vh;
  padding-top: unset;
  padding-bottom: unset;
  margin: 0 auto;
}
.banner_container {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  border-left: 1px solid black;
  padding-left: 10px;
}
.slide-in.current-text, .slide-in.next-text {
  width: 100%;
  margin-bottom: 16px 0;
  line-height: 1rem;
}
/* image */
.image-container {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
}
.image-container::before {
  display: block;
  padding-top: 50%;
  content: '';
}
.image-container img {
  display: block;
  width: auto;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
}
/* text-on-image */
.text-on-image {
  max-width: unset;
  bottom: 50%;
  left: 25%;
  z-index: 1;
}
/* banner */
.banner {
  position: absolute;
  bottom: 70px;
  left: 0px;
}
.banner_container {
  border-left: unset;
  padding-left: 50px;
}
/* Modal */
.modal_container {
  display: flex;
  flex-direction: column;
  gap: unset;
  width: 100%;
}
#modal_content {
  padding: 3rem 1rem;
}
.modal_right, .modal_left {
  width: 100%;
}
}

/*************モバイル****************/
@media screen and (max-width: 599px) {
/*  header  */
.header_ul {
  display: none;
}
.top {
  width: 100%;
  height: 100vh;
  padding-top: unset;
  padding-bottom: unset;
}
/* image */
.image-container {
  width: 100%;
  height: 90vh;
}
.image-container::before {
  display: block;
  padding-top: 50%;
  content: '';
}
.image-container img {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* text-on-image */
.text-on-image {
  max-width: unset;
  bottom: 50%;
  left: 30%;
}
.text-on-image img {
  width: 150px;
}
  /* banner */
.banner {
  bottom: 20px;
  left: 0px;
}
.banner_container {
  border-left: unset;
}

/* Modal */
.modal_container {
  display: flex;
  flex-direction: column;
  gap: unset;
  width: 100%;
}
#modal_content {
  padding: 3rem 1rem;
}
.modal_right, .modal_left {
  width: 100%;
}
.icons_conatiner {
  display: flex;
  justify-content: center;
}
}