.fade-entering {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-entered {
  opacity: 1;
}
.top, .intro, .works, .about, .contact {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.top > div {
  width: 90%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 100px;
}
.top img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}
@media screen and (max-width: 992px) {

}
@media (max-width: 720px) {}
@media screen and (max-width: 510px) {
  .top > div {
    padding-top: 120px;
    padding-bottom: 100px;
    width: 100%;
  }
  .top img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
}