.fade-entering {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-entered {
  opacity: 1;
}
.top, .intro, .works, .about, .contact {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.top > div {
  width: 90%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 100px;
}
.top img {
  width: 100%;
  height: 75vh;
}

@media screen and (max-width: 992px) {
  .layer {
    padding-top: 20vh;
    width: 100%;
  }
  .layertxt {
    background-color:unset;
    padding-top: 0px;
    margin-bottom: 0vh;
  }
  .aboutbox > div {
    width: 100%;
  }
  .aboutbox img {
    height: 500px;
    object-fit: cover;
  }
  .aboutbox {
    display: flex;
    flex-direction: column;
  }
  .abouttext {
    padding-right: unset;
    padding-top: 50px;
  }
}
@media screen and (max-width: 510px) {
  .sectionContainer {
    width: 90%;
  }
  .layer {
    padding-top: 20vh;
    width: 100%;
  }
  .layertxt {
    background-color:unset;
    margin-bottom: 10vh;
    padding-right:unset;
    padding-left:unset;
    width: 90%;
  }
  .work img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  }
}
@media (max-width: 720px) {}